<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<div id="top">
			<div class="logo">
				<img src="lbimg/topLogo.png"/>
			</div>
			<ul class="nav">
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_09.png"/>
						<span>更多模板产品</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_01.png"/>
						<span>开店向导</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_02.png"/>
						<span>记事本</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_03.png"/>
						<span>刷新</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_04.png"/>
						<span>个人设置</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_05.png"/>
						<span>管理员留言</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_06.png"/>
						<span>查看网店</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_007.png"/>
						<span>帮助</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_07.png"/>
						<span>关于ECHSOP</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/qingchu.png"/>
						<span>清除缓存</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/topmune_08.png"/>
						<span>退出</span>
					</a>
				</li>
			</ul>
		</div>
		<div id="menu">
			<ul class="menu">
				<li>
					<a href="/ECSHOP/ECSHOP 管理中心.htm" target="content">
						<img src="lbimg/index-11_07.png"/>
						<span>起始页</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/index-11_41.png"/>
						<span>设置导航栏</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/index-11_09.png"/>
						<span>商品管理</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/dd.png"/>
						<span>订单管理</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/index-11_13.png"/>
						<span>广告管理</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img src="lbimg/index-11_6.png"/>
						<span>用户评论</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">商品列表</a>
				</li>
				<li>
					<a href="javascript:;">订单列表</a>
				</li>
				<li>
					<a href="javascript:;">用户评论</a>
				</li>
				<li>
					<a href="javascript:;">会员列表</a>
				</li>
				<li>
					<a href="javascript:;">商店设置</a>
				</li>
				<li>
					<a href="javascript:;">移动版</a>
				</li>
			</ul>
		</div>
		<div id="main">
			<ul class="nav-ul">
                <li style="padding-left:10px;width: 153px;height:34px;padding-top: 0px;background: #303030;font-size: 16px;line-height: 34px;color: white;">导航菜单</li>
                
                <li>
                	<span>商品管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="/ECSHOP/lb.html" target="content" >商品列表</a>
                		</li>
                		<li>
                			<a href="/ECSHOP/addgoods.html" target="content">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>促销管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>订单管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>广告管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>报表统计</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>文章管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>会员管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>权限管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>系统设置</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>模板管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>数据库管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>短息管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>推荐管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>邮件群发管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>移动版管理</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
                <li>
                	<span>模板堂知识库</span>
                	<ul class="nav-box">
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                		<li>
                			<a href="javascript:;">商品列表</a>
                		</li>
                		<li>
                			<a href="javascript:;">添加新商品</a>
                		</li>
                	</ul>
                </li>
			</ul>
			<div class="main-r">
				<iframe id="content" name="content" src="/ECSHOP/ECSHOP 管理中心.htm" width="100%" height="100%"></iframe>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.js" ></script>
	<script type="text/javascript">
		var onOff = false;
		$(".nav-ul>li").on("click","span",function(){
			if(onOff){
				$(this).css({
					"background" : "#575757 url(lbimg/menu_1.png) no-repeat 9px 0"
				});
				$(this).siblings(".nav-box").css({
					"display" : "none"
				});
			}else{
				$(this).css({
					"background" : "#333 url(lbimg/menu1_1.png) no-repeat 9px 0"
					
				});
				$(this).siblings(".nav-box").css({
					"display" : "block"
				});
			}
			onOff = !onOff;
		})
//		$(".nav-box li a").click(function(){
//			$(this).css({
//				"background" : "#797979",
//				"color" : "white"
//			});
//			$(this).parent().siblings("li").find("a").css({
//				"background" : "#575757",
//				"color" : "#d7d7d7"
//			})
//		})
	</script>
</html>
