<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
		<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css"/>
		<script type="text/javascript" src="js/jquery-1.11.0.js" ></script>
		<script type="text/javascript" src="js/regist.js" ></script>
	</head>
	<body>
		<div id="banner">
			<div class="logo">
				<img src="loginimg/logo.png"/>
			</div>
			<div class="center">
				<div class="center-logo">
					<img src="loginimg/1.png"/>
				</div>
				<form>
					<div class="txt">
						<i class="iconfont icon-yonghutouxiang"></i>
						<input type="text" id="username" placeholder="用户名" value="" />
					</div>
					<div class="txt">
						<i class="iconfont icon-mima"></i>
						<input type="password" id="psd" placeholder="密码" value="" />
					</div>
					<div class="txt">
						<i class="iconfont icon-ecurityCode"></i>
						<input type="text" placeholder="验证码" value="" />
						<div class="yzm">
							
						</div>
					</div>
					<button type="button" class="regist" style="cursor: pointer;">注册</button>
				</form>
			</div>
		</div>
	</body>
</html>

