@charset "utf-8";
@import "common";
html,body{
    height: 100%;
}
#top{
    height: 76px;
    background: #303030;
    .logo{
        width: 262px;
        height: 45px;
        margin-left: 30px;
        margin-top: 20px;
        float: left;
    }
    .nav{
        float: right;
        li{
            float: left;
            a{
                float: left;
                height: 67px;
                padding-top: 8px;
                text-align: center;
                img{
                    height: 35px;
                    margin: auto;
                }
                span{
                    display: block;
                    width: 82px;
                    font-size: 12px;
                    line-height: 16px;
                    color: white;
                    margin-top: 6px;
                }
            }
            a:hover{
                background: #575757;
            }
        }
    }
}
#menu{
    background: #575757;
    height: 41px;
    border-bottom: 1px solid #212121;
    .menu{
        li:first-of-type{
            margin-left: 20px;
        }
        li{
            float: left;
            a{
                float: left;
                height: 16px;
                padding: 13px 10px 12px;
                font-size: 12px;
                line-height: 16px;
                color: white;
                img{
                    float: left;
                }
                span{
                    float: left;
                    display: block;
                    font-size: 12px;
                    color: white;
                    line-height: 16px;
                    border-right: 1px solid #656565;
                    padding: 0 10px;
                    padding-right: 20px;
                }
            }
            a:hover{
                background: #303030;
            }
        }
    }
}
#main{
    width: 100%;
    height: auto;
    position: absolute;
    top: 118px;
    bottom: 0;
    overflow: auto;
    .nav-ul{
        width: 180px;
        height: 100%;
        float: left;
        overflow: auto;
        li{
            width: 123px;
            height: auto;
            span{
                width: 100%;
                display: block;
                border-top: 1px solid #7f7f7f;
                color: white;
                line-height: 42px;
                background: #575757 url(../lbimg/menu_1.png) no-repeat 9px 0;
                padding-left: 40px;
                font-size: 12px;
                cursor: pointer;
            }
            span:hover{
                background-color: #333;
            }
            .nav-box{
                display: none;
                width: 163px;
                li{
                    width: 163px;
                    height: 30px;
                    a{
                        display: block;
                        width: 123px;
                        height: 30px;
                        background: #575757;
                        font-size: 12px;
                        color: #d7d7d7;
                        padding-left: 40px;
                        line-height: 30px;
                    }
                    a:hover{
                        color: white;
                        background: #797979;
                    }
                }
                
            }
        }
    }
    .main-r{
        width: auto;
        height: 100%;
        position: relative;
        right: 0;
        overflow: hidden;
        iframe{
            background: url(../lbimg/body_bj.jpg);
        }
        .lb{
//          display: none;
            overflow: auto;
            min-width: 773px;
            padding: 10px;
            background: url(../lbimg/body_bj.jpg);
            .head{
                height: 27px;
                padding: 7px 10px;
                border-bottom: 1px solid #ccc;
                color: #333;
                margin-bottom: 10px;
                h1{
                    height: 27px;
                    font-size: 18px;
                    float: left;
                }
                img{
                    width: 110px;
                    height: 26px;
                    float: left;
                    margin-left: 20px;
                }
                a{
                    float: right;
                    width: 110px;
                    height: 26px;
                    line-height: 26px;
                    font-size: 13px;
                    color: white;
                    text-align: center;
                    margin-right: 20px;
                    background: #c43926 url(../lbimg/icon_add02.gif)no-repeat 6px center;
                }
            }
            .search{
                height: 30px;
                border: 1px solid #ddd;
                padding: 5px;
                line-height: 30px;
                font-size: 16px;
                margin-bottom: 10px;
                img{
                    float: left;
                    width: 26px;
                    height: 22px;
                    margin-top: 5px;
                }
                .classify{
                    width: 158px;
                    height: 20px;
                    float: left;
                    margin-top: 6px;
                    margin-left: 2px;
                }
                .brand{
                    width: 105px;
                    height: 20px;
                    float: left;
                    margin-top: 6px;
                    margin-left: 2px;
                }
                .all1{
                    width: 72px;
                    height: 20px;
                    float: left;
                    margin-top: 6px;
                    margin-left: 2px;
                }
                .all2{
                    width: 48px;
                    height: 20px;
                    float: left;
                    margin-top: 6px;
                    margin-left: 2px;
                }
                .key{
                    float: left;
                    font-size: 12px;
                    color: #aaa;
                    margin-left: 2px;
                    height: 30px;
                    #keyword{
                        width: 103px;
                        height: 20px;
                        margin-top: 4px;
                    }
                }
                .btn{
                    float: left;
                    width: 62px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    background: #ff3f3f;
                    border-radius: 3px;
                    border: 0;
                    color: white;
                    margin-top: 3px;
                    margin-left: 2px;
                }
            }
            .shops{
                width: 100%;
                background: white;
                .list-title{
                    height: 45px;
                    width: 100%;
                    background: #ddd;
                    li{
                        float: left;
                        height: 43px;
                        padding: 0 10px;
                        line-height: 43px;
                        text-align: center;
                        font-size: 12px;
                        background: #f3f3f3;
                        border: 1px solid #ddd;
                        border-left: 0;
                        a{
                            color: #111;
                        }
                    }
                    li:first-of-type{
                        border-left: 1px solid #ddd;
                        text-align: left;
                        a{
                            margin-left: 15px;
                        }
                    }
                }
                .shop-info{
                    height: 59px;
                    width: 100%;
                    background: white;
                    li{
                        float: left;
                        height: 57px;
                        padding: 0 10px;
                        line-height: 57px;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 12px;
                        border: 1px solid #ddd;
                        border-left: 0;
                        width: 24px;
                        a{
                            color: #111;
                        }
                        img{
                            display: inline-block;
                        }
                    }
                    li:first-of-type{
                        border-left: 1px solid #ddd;
                        text-align: left;
                        a{
                            margin-left: 15px;
                        }
                    }
                }
            }
            .sure{
                width: 100%;
                height: 30px;
                vertical-align: middle;
                .sel{
                    width: 84px;
                    height: 20px;
                }
                .qd{
                    margin: 2px 2px;
                    width: 62px;
                    height: 26px;
                    background: #ff3f3f;
                    color: #FFF;
                    border: 0;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
            .footer{
                background: #f3f3f3;
                border: 1px solid #ddd;
                padding: 15px;
                color: #9CACAF;
                margin: 10px 0;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}
